<?xml version="1.0" encoding="UTF-8" ?>

<!-- ld31 Application Configuration - Any Platform -->

<objects>
	<object class="AppStageConfig" name="config">
		<desiredTitle>LudumDare31</desiredTitle>
		<documentsSubfolder>The Electric Toy Co/ld31</documentsSubfolder>
		<logFileName>runlog.txt</logFileName>
		<desiredFramesPerSecond>60</desiredFramesPerSecond>
		<desiredWindowRect>0, 0, 1440, 960</desiredWindowRect>
		<classPath>assets/classes.xml</classPath>
		<stringTablePath>assets/strings.xml</stringTablePath>
		<assetDatabasePath>assets/asset-database.xml</assetDatabasePath>
		<stageManifestPath>assets/stage.xml</stageManifestPath>
	</object>
</objects>
